<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" href="{{ to }}">
        {{!-- {{ readFile "static/svg/logo.svg" | safeHTML }}                             --}}

    </a>

    <ul class="navbar-nav">
        {{!-- {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{end}}">
                <a class="nav-link" href="{{ .URL | absLangURL }}">
                    {{ .Name }}
                    {{ if $currentPage.IsMenuCurrent "main" . }}<span class="sr-only">(active)</span>{{end}}
                </a>
            </li>
        {{ end }} --}}
    </ul>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="nav-link p-2" href="https://github.com/VNG-Realisatie/nlx" target="_blank" rel="noopener" aria-label="GitHub">
                <img src="{{ path '/img/github.svg' }}" />            
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="https://nl-x.slack.com" target="_blank" rel="noopener" aria-label="Slack">
                <img src="{{ path '/img/slack.svg' }}" />
            </a>
        </li>
    </ul>
</header>