<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" href="{{ to }}">
        <img src="{{ path '/img/logo.svg' }}" />            
    </a>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ to }}">
                Directory
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ to }}">
                Docs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ to }}">
                About
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="nav-link p-2" href="https://github.com/VNG-Realisatie/nlx" target="_blank" rel="noopener" aria-label="GitHub">
                <img src="{{ path '/img/github.svg' }}" />            
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="https://nl-x.slack.com" target="_blank" rel="noopener" aria-label="Slack">
                <img src="{{ path '/img/slack.svg' }}" />
            </a>
        </li>
    </ul>
</header>