<header class="navbar sticky-top bg-white">
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="navbar-logo" href="{{ to }}">
                        <img src="{{ path '/img/logo.svg' }}" />            
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ to }}">
                        Directory
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ to }}">
                        Docs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ to }}">
                        About
                    </a>
                </li>
            </ul>
        </nav>

        <ul class="navbar-nav flex-row ml-md-auto">
            <li class="nav-item">
                <a class="nav-link p-2" href="https://github.com/VNG-Realisatie/nlx" target="_blank" rel="noopener" aria-label="GitHub">
                    <svg width="25" height="24">
                        <use xlink:href="#github" />
                    </svg>      
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="https://nl-x.slack.com" target="_blank" rel="noopener" aria-label="Slack">
                    <svg width="24" height="24">
                        <use xlink:href="#slack" />
                    </svg>  
                </a>
            </li>
        </ul>
    </div>
</header>