<header class="navbar fixed-top bg-white navbar-expand-md">
    <div class="container">
        <a class="navbar-logo d-md-none" href="{{ to }}">
            <img src="{{ path '/img/logo.svg' }}" />            
        </a>
        <button class="navbar-toggler navbar-logo d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="24" height="24">
                <use xlink:href="#menu" />
            </svg>           
        </button>

            <nav class="collapse navbar-collapse order-last order-md-first" id="navbarSupportedContent" aria-label="Page navigation">
                <ul class="navbar-nav flex-row-md">
                    <li class="nav-item d-none d-md-block">
                        <a class="navbar-logo" href="{{ to }}">
                            <img src="{{ path '/img/logo.svg' }}" />            
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ to }}">
                            Directory
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ to }}">
                            Docs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ to }}">
                            About
                        </a>
                    </li>
                </ul>
            </nav>

            <ul class="navbar-nav flex-row ml-md-auto">
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://github.com/VNG-Realisatie/nlx" target="_blank" rel="noopener" aria-label="GitHub">
                        <svg width="25" height="24">
                            <use xlink:href="#github" />
                        </svg>      
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://nl-x.slack.com" target="_blank" rel="noopener" aria-label="Slack">
                        <svg width="24" height="24">
                            <use xlink:href="#slack" />
                        </svg>  
                    </a>
                </li>
            </ul>
    </div>
</header>